/* ----- import font ----- */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800;900&display=swap');

/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

header,
main {
    width: 85%;
    margin: 3% auto;
    /* border: 1px solid black; */
}

.btn-primary {
    border: none;
    border-radius: 4px;
    background: #FF5400;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    padding: 1.6%;
    cursor: pointer;
}

/* ----- Header style ----- */
/* Navbar style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    width: 45%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto 0;
}

nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
}

.home {
    color: #FF5400;
}

.web-title {
    display: flex;
    justify-content: space-between;
    gap: 3%;
    color: #131318;
    font-size: 26px;
    font-weight: 800;
}

.web-title span {
    color: #FF5400;
}

/* Banner style */
.banner {
    /* height: 70vh; */
    border-radius: 1%;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5%;
}

.banner-content {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 12% 0;
}

.banner-content h1 {
    color: #FFF;
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 4%;
}

.banner-content p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 4%;
}

.banner-content-box {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    flex-wrap: wrap;
}

.banner-content-box select,
input {
    width: 18%;
    border: none;
    border-radius: 4px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    padding: 1.5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*---- Main Section styles ----  */

/* popular tour style */
.popular {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}

.popular-content {
    width: 50%;
}

.popular-content h2 {
    color: #131318;
    font-size: 32px;
    font-weight: 800;
}

.popular-content p,
ul {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 3%;
}

.popular-content ul {
    margin-left: 5%;
}

.popular-img {
    width: 40%;
}

.popular-img img {
    width: 100%;
}

.popular-content button {
    margin-top: 4%;
}

/* Destination style */
.destination {
    /* border: 1px solid #131318; */
    margin-top: 5%;
}

.destination-content {
    width: 50%;
    margin: 2% auto;
    text-align: center;
}

.destination-content h2 {
    color: #131318;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 2%;
}

.destination-content p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.destination-img {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1%;
    margin-bottom: 2%;
}

.destination-img img {
    width: 100%;
    height: 100%;
}

.destination-img-item1,
.destination-img-item2,
.destination-img-item3,
.destination-img-item4,
.destination-img-item5,
.destination-img-item6,
.destination-img-item7 {
    position: relative;
}

.destination-img p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}

.destination-img-item1 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}

.destination-img-item2 {
    grid-column: 7/span 6;
    grid-row: 1/span 1;
}

.destination-img-item3 {
    grid-column: 1/span 4;
    grid-row: 2/span 1;
}

.destination-img-item4 {
    grid-column: 5/span 5;
    grid-row: 2/span 1;
}

.destination-img-item5 {
    grid-column: 10/span 3;
    grid-row: 2/span 1;
}

.destination-img-item6 {
    grid-column: 1/span 5;
    grid-row: 3/span 1;
}

.destination-img-item7 {
    grid-column: 6/span 7;
    grid-row: 3/span 1;
}

/* why choose us style */
.choose {
    margin-top: 7%;
}

.choose-content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.choose-content h3 {
    color: #131318;
    font-size: 32px;
    font-weight: 800;
}

.choose-content p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 5% 0;
}

.choose-card-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3%;
    padding-bottom: 3%;
}

.choose-card-1,
.choose-card-2,
.choose-card-3 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    height: 100%;
    width: 100%;
    padding: 5%;
}

.choose-card-container h4 {
    color: #131318;
    font-size: 20px;
    font-weight: 800;
}

.choose-card-container p {
    color: #5A5A5D;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.choose-card-1 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}

.choose-card-2 {
    grid-column: 7/span 6;
    grid-row: 1/span 1;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.choose-card-3 {
    grid-column: 4/span 6;
    grid-row: 2/span 1;
}






/* --- Responsive-Media Query-small device --- */
@media screen and (max-width: 600px) {

    /* shared responsive style */
    nav,
    nav ul,
    .popular {
        flex-direction: column;
        align-items: center;
    }

    .popular-content,
    .popular-img,
    .destination-content {
        width: 100%;
        margin-bottom: 3%;
    }

    /* header section responsive */
    .web-title {
        justify-content: center;
        font-size: 24px;
    }

    .banner {
        height: auto;
    }

    .banner,
    .banner-content-box {
        border-radius: 4%;
    }

    .banner-content {
        width: 85%;
        padding-bottom: 2%;
    }

    .banner-content h1 {
        font-size: 26px;
    }

    .banner-content p,
    nav>ul li a {
        font-size: 18px;
    }

    .banner-content-box {
        width: 100%;
        margin: 7% auto;
    }

    .banner-content-box select,
    input {
        width: 95%;
        font-size: 14px;
        padding: 4%;
    }

    .btn-primary {
        width: 95%;
        font-size: 14px;
        padding: 4%;
        margin-bottom: 2%;
    }

    /* ---- main section responsive ---- */
    /* popular tour responsive */
    .popular button {
        width: 25%;
        padding: 1%;
    }

    /* Choose destination */
    .destination-img {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        gap: 7px;
    }

    .destination-img img {
        object-fit: cover;
        border-radius: 10px;
    }

    .destination-img-item1 {
        grid-column: 1/span 1;
        grid-row: 1/span 1;
    }

    .destination-img-item2 {
        grid-column: 1/span 1;
        grid-row: 2/span 1;
    }

    .destination-img-item3 {
        grid-column: 1/span 1;
        grid-row: 3/span 1;
    }

    .destination-img-item4 {
        grid-column: 1/span 1;
        grid-row: 4/span 1;
    }

    .destination-img-item5 {
        grid-column: 1/span 1;
        grid-row: 5/span 1;
    }

    .destination-img-item6 {
        grid-column: 1/span 1;
        grid-row: 6/span 1;
    }

    .destination-img-item7 {
        grid-column: 1/span 1;
        grid-row: 7/span 1;
    }
    /* Choose us responsive */
    .choose-content{
        width: 100%;
    }
    .choose-card-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .choose-card-1{
        grid-column: 1/span 1;
        grid-row: 1/span 1;
    }
    .choose-card-2{
        grid-column: 1/span 1;
        grid-row: 2/span 1;
    }
    .choose-card-3{
        grid-column: 1/span 1;
        grid-row: 3/span 1;
    }
}

/* --- Responsive-Media Query-medium device --- */
@media screen and (min-width: 601px) and (max-width: 991px) {
    .popular {
        flex-direction: column;
        align-items: center;
    }

    .popular-content,
    .popular-img {
        width: 100%;
    }

    .popular button {
        width: 20%;
        padding: 1%;
        margin-bottom: 3%;
    }
}